VoteManager._incidents_InvalidLowerTimeRange:^Trying to set lower limit to\s?(?<T_input_timespan>.*)ms on\s?.* with\s?(?<L_epoch>-?[0-9]{1,19}):(?<T_lower_timespan>.*)ms/(?<T_upper_timespan>.*)ms$
VoteManager._incidents_InvalidUpperTimeRange:^Trying to set upper limit to\s?(?<T_input_timespan>.*)ms on\s?.* with\s?(?<L_epoch>-?[0-9]{1,19}):(?<T_lower_timespan>.*)ms/(?<T_upper_timespan>.*)ms$
Arbitration._incidents_Failure:^(?<S_localLeaseAgentAddress>.*):(?<l_localLeaseAgentInstance>[0-9]{1,20}) arbitration with\s?(?<S_remoteLeaseAgentAddress>.*):(?<l_remoteLeaseAgentInstance>[0-9]{1,20}) failed, lease instance:\s?(?<L_monitorLeaseInstance>-?[0-9]{1,19})/(?<L_subjectLeaseInstance>-?[0-9]{1,19}), type=(?<S_arbitrationType>.*)$
SiteNode._Nodes_RestartInstance:^Restarting new instance\s?(?<l_instanceId>[0-9]{1,20})$
Api._Api_Finish:^Finish\s?(?<S_api_interface>.*)\.(?<S_api_api>.*)\((?<S_api_metadata>.*)\) on node\s?(?<S_nodeId>.*)\((?<S_nodeName>.*)\) on partition\s?.* replica\s?(?<L_replicaId>-?[0-9]{1,19})\. Elapsed =\s?(?<D_elapsed>[0-9]+\.?[0-9]*)ms\. Error =\s?(?<S_error_val>.*)\. Message =\s?(?<S_message>.*)$
Api._Api_ST_Finish:^Finish\s?(?<S_api_interface>.*)\.(?<S_api_api>.*)\((?<S_api_metadata>.*)\) on node\s?(?<S_nodeId>.*)\((?<S_nodeName>.*)\) on partition\s?.* replica\s?(?<L_replicaId>-?[0-9]{1,19})\. ServiceType =\s?(?<S_serviceType>.*)\. Elapsed =\s?(?<D_elapsed>[0-9]+\.?[0-9]*)ms\. Error =\s?(?<S_error_val>.*)\. Message =\s?(?<S_message>.*)$
CRM._Partitions_Operation:^Operation Details: Phase:\s?(?<S_SchedulerPhase>.*) Action:\s?(?<S_Action>.*) Service:\s?(?<S_ServiceName>.*) DecisionId:\s?(?<G_decisionId>\{?[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}\}?) PartitionId:\s?.* SourceNode:\s?(?<S_SourceNode>.*) TargetNode:\s?(?<S_TargetNode>.*)$
CRM._Partitions_OperationIgnored:^An Operation on FailoverUnit\s?(?<G_FailoverUnitId>\{?[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}\}?) was ignored because of reason '(?<S_Reason>.*)'\. Decision Id:\s?(?<G_DecisionId>\{?[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}\}?)\.$
FM._Partitions_ReconfigurationStarted:^Reconfiguration started for\s?.*/(?<l_dca_instance>[0-9]{1,20})\. Primary:\s?(?<S_primary>.*), Secondaries:\s?(?<S_secondaries>.*)$
FM._Partitions_ReconfigurationCompleted:^Reconfiguration completed for\s?.*/(?<l_dca_instance>[0-9]{1,20})\. Primary:\s?(?<S_primary>.*), Secondaries:\s?(?<S_secondaries>.*)$
FM._Partitions_ServiceLocationUpdated:^Service location updated for\s?.*:\s?(?<S_instances>.*)$
FM._Partitions_DEL_PartitionDeleted:^Partition\s?.* is deleted$
FM._Nodes_NodeUp:^.*:(?<l_dca_instance>[0-9]{1,20}) is up$
FM._Nodes_NodeDown:^.*:(?<l_dca_instance>[0-9]{1,20}) is down$
FM._Nodes_DEL_NodeStateRemoved:^.*:(?<l_dca_instance>[0-9]{1,20}) state is removed$
FM._Services_ServiceCreated:^Service\s?.* inst\s?(?<l_dca_instance>[0-9]{1,20}) created with partition\s?(?<S_partitionId>.*)$
FM._Services_DEL_ServiceDeleted:^Service\s?.* instance\s?(?<l_dca_instance>[0-9]{1,20}) deleted$
RA._Api_ReportFault:^RA on node\s?(?<S_nodeInstance>.*) processing ReportFault: PartitionId =\s?(?<G_partitionId>\{?[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}\}?)\. ReplicaId =\s?(?<L_replicaId>-?[0-9]{1,19})\. FaultType =\s?(?<S_faultType>.*)\. IsForce =\s?(?<x_isForce>true|false|True|False)\. ReasonActivityDescription =\s?(?<G_reasonActivityDescription_activityId_id>\{?[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}\}?):(?<l_reasonActivityDescription_activityId_index>[0-9]{1,20}):(?<S_reasonActivityDescription_activityType>.*)\.$
RA._Reconfig_ReconfigurationCompleted:^RA on node\s?(?<S_nodeName>.*)\((?<S_nodeInstance_id>.*)\) completed reconfiguration\. PartitionId =\s?.*\. ServiceType =\s?(?<S_serviceType>.*)\. Epoch =\s?(?<L_ccEpoch_dataLossVersion>-?[0-9]{1,19}):(?<H_ccEpoch_configVersion>[0-9A-Fa-f]{1,16})\. ReconfigurationType =\s?(?<S_reconfigType>.*)\. Result =\s?(?<S_result>.*)\. Phase0Duration:\s?(?<D_phase0DurationMs>[0-9]+\.?[0-9]*)ms\. Phase1Duration:\s?(?<D_phase1DurationMs>[0-9]+\.?[0-9]*)ms\. Phase2Duration:\s?(?<D_phase2DurationMs>[0-9]+\.?[0-9]*)ms\. Phase3Duration:\s?(?<D_phase3DurationMs>[0-9]+\.?[0-9]*)ms\. Phase4Duration:\s?(?<D_phase4DurationMs>[0-9]+\.?[0-9]*)ms\. TotalDuration:\s?(?<D_totalDurationMs>[0-9]+\.?[0-9]*)ms\.\s?$
RA._Api_ReplicaStateChange:^RA on node\s?(?<S_nodeInstance_id>.*) closing replica with: PartitionId =\s?(?<G_partitionId>\{?[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}\}?)\. ReplicaId =\s?(?<L_replicaId>-?[0-9]{1,19})\. Epoch =\s?(?<L_epoch_dataLossVersion>-?[0-9]{1,19}):(?<H_epoch_configVersion>[0-9A-Fa-f]{1,16})\. Status =\s?(?<S_status>.*)\. Role =\s?(?<S_role>.*)\. ReasonActivityDescription =\s?(?<G_reasonActivityDescription_activityId_id>\{?[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}\}?):(?<l_reasonActivityDescription_activityId_index>[0-9]{1,20}):(?<S_reasonActivityDescription_activityType>.*)\.$
RAP._Api_ApiReportFault:^API ReportFault\s?(?<S_faultType>.*) for FT\s?.* on node\s?(?<S_nodeId>.*) with Replica Id\s?(?<L_replicaId>-?[0-9]{1,19}) and Replica Instance Id\s?(?<L_replicaInstanceId>-?[0-9]{1,19}) and ReasonActivityDescription\s?(?<G_reasonActivityDescription_activityId_id>\{?[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}\}?):(?<l_reasonActivityDescription_activityId_index>[0-9]{1,20}):(?<S_reasonActivityDescription_activityType>.*)$
FMM._Partitions_ReconfigurationStarted:^Reconfiguration started for\s?.*/(?<l_dca_instance>[0-9]{1,20})\. Primary:\s?(?<S_primary>.*), Secondaries:\s?(?<S_secondaries>.*)$
FMM._Partitions_ReconfigurationCompleted:^Reconfiguration completed for\s?.*/(?<l_dca_instance>[0-9]{1,20})\. Primary:\s?(?<S_primary>.*), Secondaries:\s?(?<S_secondaries>.*)$
FMM._Partitions_ServiceLocationUpdated:^Service location updated for\s?.*:\s?(?<S_instances>.*)$
FMM._Partitions_DEL_PartitionDeleted:^Partition\s?.* is deleted$
FMM._Nodes_NodeUp:^.*:(?<l_dca_instance>[0-9]{1,20}) is up$
FMM._Nodes_NodeDown:^.*:(?<l_dca_instance>[0-9]{1,20}) is down$
FMM._Nodes_DEL_NodeStateRemoved:^.*:(?<l_dca_instance>[0-9]{1,20}) state is removed$
FMM._Services_ServiceCreated:^Service\s?.* inst\s?(?<l_dca_instance>[0-9]{1,20}) created with partition\s?(?<S_partitionId>.*)$
FMM._Services_DEL_ServiceDeleted:^Service\s?.* instance\s?(?<l_dca_instance>[0-9]{1,20}) deleted$
Hosting._Nodes_HostedServiceUnexpectedTermination:^HostedService:\s?(?<S_ServiceName>.*) on node id\s?.* terminated unexpectedly with code\s?(?<L_ReturnCode>-?[0-9]{1,19}) and process name\s?(?<S_ProcessName>.*)$
Hosting._Nodes_ProcessUnexpectedTermination:^ServiceHostProcess:\s?(?<S_ProcessName>.*) started at\s?(?<d_StartTime>.*) with Process Id\s?(?<L_ProcessId>-?[0-9]{1,19}) for ApplicationId\s?(?<S_AppId>.*) terminated unexpectedly with exit code\s?(?<L_ReturnCode>-?[0-9]{1,19}) on node id\s?.*$
Hosting._ContainerEvents_ContainerActivated:^Container\s?(?<S_Name>.*) with isolation\s?(?<S_IsolationMode>.*) for application\s?(?<S_ApplicationName>.*) service\s?(?<S_ServiceName>.*) code package\s?(?<S_CodePackageName>.*) is active\.$
Hosting._ContainerEvents_ContainerDeactivated:^Container\s?(?<S_Name>.*)  with applicationname\s?(?<S_ApplicationName>.*), servicename\s?(?<S_ServiceName>.*) and code package\s?(?<S_CodePackageName>.*) deactivated\.$
Hosting._ContainerEvents_ContainerTerminated:^Container\s?(?<S_Name>.*)  with applicationname\s?(?<S_ApplicationName>.*), servicename\s?(?<S_ServiceName>.*) and code package\s?(?<S_CodePackageName>.*) terminated\.$
Hosting._ApplicationHostEvents_ApplicationHostTerminated:^Processing termination of activated Application Host: HostId=(?<S_HostId>.*), ExitCode=(?<l_ExitCode>[0-9]{1,20}) ActivityDescription=(?<G_ActivityDescription_activityId_id>\{?[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}\}?):(?<l_ActivityDescription_activityId_index>[0-9]{1,20}):(?<S_ActivityDescription_activityType>.*)$
FabricNode._Nodes_NodeOpening:^.*:(?<l_dca_instance>[0-9]{1,20}) is opening with instance name:\s?(?<S_instanceName>.*) upgrade domain:\s?(?<S_upgradeDomain>.*), fault domain:\s?(?<S_faultDomain>.*), address:\s?(?<S_address>.*), hostname:\s?(?<S_hostname>.*), isSeedNode:\s?(?<x_isSeedNode>true|false|True|False), versionInstance:\s?(?<S_versionInstance>.*)$
FabricNode._Nodes_NodeOpened:^.*:(?<l_dca_instance>[0-9]{1,20}) has opened with\s?(?<S_error>.*)\.$
FabricNode._Nodes_NodeClosing:^.*:(?<l_dca_instance>[0-9]{1,20}) is closing\.$
FabricNode._Nodes_NodeClosed:^.*:(?<l_dca_instance>[0-9]{1,20}) has closed with\s?(?<S_error>.*)\.$
FabricNode._Nodes_NodeAborting:^.*:(?<l_dca_instance>[0-9]{1,20}) is aborting\.$
FabricNode._Nodes_NodeAborted:^.*:(?<l_dca_instance>[0-9]{1,20}) has aborted\.$
FabricNode._GlobalTime_Time:^.* wall clock\s?(?<d_localTime>.*), global time epoch\s?(?<L_epoch>-?[0-9]{1,19}):\s?(?<d_lowerBound>.*)/(?<d_upperBound>.*)$
CM._Applications_ApplicationCreated:^\[\((?<G_ractId_prId_partitionId>\{?[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}\}?):(?<L_ractId_prId_replicaId>-?[0-9]{1,19})\)\+(?<G_ractId_actId_id>\{?[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}\}?):(?<l_ractId_actId_index>[0-9]{1,20})\] Application\s?.* Created: type =\s?(?<S_typename>.*) version =\s?(?<S_typeversion>.*) manifestId =\s?(?<S_manifestid>.*)$
CM._Applications_ApplicationUpgradeStart:^\[\((?<G_ractId_prId_partitionId>\{?[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}\}?):(?<L_ractId_prId_replicaId>-?[0-9]{1,19})\)\+(?<G_ractId_actId_id>\{?[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}\}?):(?<l_ractId_actId_index>[0-9]{1,20})\] Application\s?.* Upgrading: target =\s?(?<S_targetversion>.*) current_manifestId =\s?(?<S_currentmanifestid>.*) target_manifestid =\s?(?<S_targetmanifestid>.*)$
CM._Applications_ApplicationUpgradeComplete:^\[\((?<G_ractId_prId_partitionId>\{?[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}\}?):(?<L_ractId_prId_replicaId>-?[0-9]{1,19})\)\+(?<G_ractId_actId_id>\{?[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}\}?):(?<l_ractId_actId_index>[0-9]{1,20})\] Application\s?.* Upgraded: target =\s?(?<S_targetversion>.*) current_manifestId =\s?(?<S_currentmanifestid>.*) target_manifestid =\s?(?<S_targetmanifestid>.*)$
CM._Applications_ApplicationUpgradeRollback:^\[\((?<G_ractId_prId_partitionId>\{?[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}\}?):(?<L_ractId_prId_replicaId>-?[0-9]{1,19})\)\+(?<G_ractId_actId_id>\{?[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}\}?):(?<l_ractId_actId_index>[0-9]{1,20})\] Application\s?.* Rolling Back: target =\s?(?<S_targetversion>.*) current_manifestId =\s?(?<S_currentmanifestid>.*) target_manifestid =\s?(?<S_targetmanifestid>.*)$
CM._Applications_ApplicationUpgradeRollbackComplete:^\[\((?<G_ractId_prId_partitionId>\{?[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}\}?):(?<L_ractId_prId_replicaId>-?[0-9]{1,19})\)\+(?<G_ractId_actId_id>\{?[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}\}?):(?<l_ractId_actId_index>[0-9]{1,20})\] Application\s?.* Rolled Back: target =\s?(?<S_targetversion>.*) current_manifestId =\s?(?<S_currentmanifestid>.*) target_manifestid =\s?(?<S_targetmanifestid>.*)$
CM._Applications_DEL_ApplicationDeleted:^\[\((?<G_ractId_prId_partitionId>\{?[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}\}?):(?<L_ractId_prId_replicaId>-?[0-9]{1,19})\)\+(?<G_ractId_actId_id>\{?[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}\}?):(?<l_ractId_actId_index>[0-9]{1,20})\] Application\s?.* Deleted, manifestId =\s?(?<S_manifestid>.*)$
CM._Applications_ApplicationUpgradeDomainComplete:^\[\((?<G_ractId_prId_partitionId>\{?[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}\}?):(?<L_ractId_prId_replicaId>-?[0-9]{1,19})\)\+(?<G_ractId_actId_id>\{?[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}\}?):(?<l_ractId_actId_index>[0-9]{1,20})\] Application\s?.* Upgrade Domain Completed: target =\s?(?<S_targetversion>.*) domains =\s?(?<S_upgradedomains>.*)$
Client._Client_BeginReportFault:^(?<G_activityId_id>\{?[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}\}?):(?<l_activityId_index>[0-9]{1,20}): Node =\s?(?<S_body_node>.*) Partition =\s?(?<G_body_guid>\{?[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}\}?) Replica =\s?(?<L_body_replica>-?[0-9]{1,19}) FaultType =\s?(?<S_body_faultType>.*) IsForce =\s?(?<x_body_isForce>true|false|True|False) ActivityDescription =\s?(?<G_body_activityDescription_activityId_id>\{?[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}\}?):(?<l_body_activityDescription_activityId_index>[0-9]{1,20}):(?<S_body_activityDescription_activityType>.*)$
General._incidents_Assert:^(?<S_text>.*)$
