#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_APP
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Validate and fix logs"
#define VER_INTERNALNAME_STR        "CheckLinuxLog\0"
#define VER_ORIGINALFILENAME_STR    "CheckLinuxLog.EXE"

#include "common.ver"
