#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_APP
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Random Sleep"
#define VER_INTERNALNAME_STR        "SleepRand\0"
#define VER_ORIGINALFILENAME_STR    "SleepRand.EXE"

#include "common.ver"
