<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ServiceFabric" version="5.6.220" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Data" version="2.6.220" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.FabricTransport.Internal" version="2.6.220" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Services" version="2.6.220" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Services.Remoting" version="2.6.220" targetFramework="net452" />
</packages>