[user]
	email = brmoriar@microsoft.com
	name = Brendan Moriarty
[alias]
	c = commit -m
	ca = commit -a -m 
	ci = commit -v
	co = checkout
	po = push origin
	pu = pull origin
	m = master
	br = branch
	co = checkout
	a = add
	st = status
	mm = merge master
	pur = pull --rebase origin
	bname = rev-parse --abbrev-ref HEAD
	pr = "!f() { exec vsts code pr \"$@\"; }; f"
	repo = "!f() { exec vsts code repo \"$@\"; }; f"
	nbr = "checkout -b"
	del = "branch -d" 
	remdel = "push --delete origin"
	diffc = "diff --cached"
	listcfg =  config --list
	logb = log ^develop
[core]
	autocrlf = input
