<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="TestsSection" type="RunTests.TestsSection, RunTests" />
  </configSections>
  <TestsSection>
    <Tests>
       <Test Name="KAllocationBitmapUserTests.exe" Group="KTL" Type="Exe" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KAWIpcUserTests.exe" Group="KTL" Type="Exe" Tags="Admin" Owners="alanwar,richhas,chenxu"/>
       <Test Name="KAsyncContextUserTests.exe" Group="KTL" Type="Exe" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KAsyncQueueUserTests.exe" Group="KTL" Type="Exe" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KBitmapUserTests.exe" Group="KTL" Type="Exe" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KBlockFileUserTests.exe" Timeout="0.04:00:00" Group="KTL" Type="Exe" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KBufferUserTests.exe" Group="KTL" Type="Exe" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KChecksumUserTests.exe" Group="KTL" Type="Exe" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KDeferredCallUserTests.exe" Group="KTL" Type="Exe" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KHashTableUserTests.exe" Group="KTL" Type="Exe" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KInvariantUserTests.exe" Group="KTL" Type="Exe" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KIoBufferUserTests.exe" Group="KTL" Type="Exe" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KMemChannelUserTests.exe" Group="KTL" Type="Exe" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KNetworkEndpointUserTests.exe" Group="KTL" Type="Exe" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KNodeTableUserTests.exe" Group="KTL" Type="Exe" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KRTTUserTests.exe" Group="KTL" Type="Exe" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KSerialUserTests.exe" Group="KTL" Type="Exe" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KStreamUserTests.exe" Group="KTL" Type="Exe" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KStringViewUserTests.exe" Group="KTL" Type="Exe" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KTaskUserTests.exe" Group="KTL" Type="Exe" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KThreadPoolTests.exe" Group="KTL" Type="Exe" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KThreadUserTests.exe" Group="KTL" Type="Exe" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KtlAwaitableTests.exe" Group="KTL" Type="Exe" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KtlCommonUserTests.exe" Group="KTL" Type="Exe" Timeout="0.01:00:00" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KtlLoggerUserTest" Group="KTL" Type="Exe" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KUriUserTests.exe" Group="KTL" Type="Exe" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KVariantUserTests.exe" Group="KTL" Type="Exe" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KVolumeNamespaceUserTests.exe" Group="KTL" Type="Exe" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KWeakRefUserTests.exe" Group="KTL" Type="Exe" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KWStringTests.exe" Group="KTL" Type="Exe" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="XmlUserTests.exe" Group="KTL" Type="Exe" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <!-- 
       KXM driver tests are currently disabled. We will enable this after driver is enabled.
       <Test Name="KXMDescTest.exe" Group="KTL" Type="Exe" Tags="Admin" Owners="mevora"/>
       <Test Name="KXMCompletionPortTest.exe" Group="KTL" Type="Exe" Tags="Admin" Owners="mevora"/>
       <Test Name="KXMEventFileTest.exe" Group="KTL" Type="Exe" Tags="Admin" Owners="mevora"/>
       <Test Name="KXMBlockFileTest.exe" Group="KTL" Type="Exe" Tags="Admin" Owners="mevora"/>
       -->
    </Tests>
  </TestsSection>
  <appSettings>
    <!-- PAAS (secure cluster with router enabled) -->

    <!-- Specify this so that TAEF 4.0 is used -->
    <add key="IsExplicitTaefPathNeeded" value="false"/>

    <add key="FabricRestClient.PAAS.HttpGatewayAddress" value="https://winfabrictestinfra.cloudapp.net:9001/"/>
    <add key="FabricRestClient.PAAS.RouterUri" value="net.tcp://winfabrictestinfra.cloudapp.net:11233/Router/Route"/>
    <add key="FabricRestClient.PAAS.ClientCertThumbprint" value="27B3DFCE8054446DDE1E238591933EB4FE7B0C8C"/>
    <add key="FabricRestClient.PAAS.ServerCertThumbprint" value="4D884A518713725E4AB7DED5B4754191F1646F52"/>
    <add key="ServiceClient.PAAS.CertThumbprint" value="27B3DFCE8054446DDE1E238591933EB4FE7B0C8C"/>
    <add key="ServiceClient.PAAS.CertStoreLocation" value="CurrentUser"/>
    <!--
      This is the last DNS name of the SAN cert used by our PAAS test env, since it doesn't match the endpoint name
      it needs to be explicitly specified here for WCF to authorize the request.
    -->
    <add key="ServiceClient.PAAS.ServerCertDnsName" value="winfabrictestinfra-perf.cloudapp.net"/>
    <add key="ServiceClient.PAAS.ServerCertThumbprintList" value="4D884A518713725E4AB7DED5B4754191F1646F52"/>

    <!-- IAAS (no certificate needed and no router) -->
    <add key="FabricRestClient.IAAS.HttpGatewayAddress" value="http://aziaas35:19007/"/>
    <add key="TestKeyVaultUri" value="https://TestInfraKeyVault.vault.azure.net"/>
    <add key="TestKeyVaultClientId" value ="33e3af95-cf38-49be-9db9-909bb5b3cb2e"/>
    <add key="TestKeyVaultAppCertThumbprint" value ="6108D2170756888910B43787F0FE8C6DD9162FE7"/>
    <add key="TestInfraDbConnectionStringKeyVaultName" value ="TestInfraDbConnectionString"/>
    <add key="LogsLocationConnectionStringKeyVaultName" value ="LogsLocationConnectionString"/>
    <add key="BuildLocationConnectionStringKeyVaultName" value ="BuildLocationConnectionString"/>
    <add key="SchedulingServiceUri" value="fabric:/winfabtestinfra/WcfScheduler"/>
    <!-- Comma separated list of folders to be uploaded to container for cloud run -->
    <add key="IncludeFolderNames" value="ktltest"/>
    <add key="ExcludeFilePatterns" value=".*\.trace$,
                                          .*\.etl$,
                                          .*\.pdb$,
                                          .*\.swp$" />

    <add key="MsiInstalled" value="True"/>
    <!-- Used to determine if a group setup install task to install msi should be generated.
         This value should be true for WindowsFabric and SF-SDK repo and is false for winfab-ktl repo.-->
    <add key="GenerateGroupSetUpTaskForInstall" value="false"/>
  </appSettings>
</configuration>
