<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="TestsSection" type="RunTests.TestsSection, RunTests" />
  </configSections>
  <TestsSection>
    <Tests>
       <Test Name="KtlAwaitableUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" Params="/p:target=user /p:configfile=Table:KtlAwaitableTestInput.xml#Test" Tags="Admin" Owners="alanwar,chenxu,richhas,tyadam"/>
      <Test Name="KAllocationBitmapUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" Params="/p:target=user /p:configfile=Table:KAllocationBitmapTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
      <Test Name="KBitmapUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" Params="/p:target=user /p:configfile=Table:KBitmapTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
      <Test Name="KBlockFileUser.dll" Group="KTL" Type="TAEF" RunPolicy="Sequential"  IsTestLoader="true" Params="/p:target=user /p:configfile=Table:KBlockFileTestInput.xml#Test" Timeout="0.00:40:00" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KBufferUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" Params="/p:target=user /p:configfile=Table:KBufferTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KCheckSumUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" Params="/p:target=user /p:configfile=Table:KCheckSumTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
      <Test Name="KDelegateUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" Params="/p:target=user /p:configfile=Table:KDelegateTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KHashTableUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" Params="/p:target=user /p:configfile=Table:KHashTableTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KInvariantUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" Params="/p:target=user /p:configfile=Table:KInvariantTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KIOBufferUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" Params="/p:target=user /p:configfile=Table:KIOBufferTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KNetFaultInjectorUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" Params="/p:target=user /p:configfile=Table:KNetFaultInjectorTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KNetworkEndpointUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" Params="/p:target=user /p:configfile=Table:KNetworkEndpointTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
      <Test Name="KNodeTableUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" Params="/p:target=user /p:configfile=Table:KNodeTableTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KRegistryUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" Params="/p:target=user /p:configfile=Table:KRegistryTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KRTTUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" Params="/p:target=user /p:configfile=Table:KRTTTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KSerialUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" Params="/p:target=user /p:configfile=Table:KSerialTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KStreamUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" Params="/p:target=user /p:configfile=Table:KStreamTestInput.xml#Test" Tags="Admin" Owners="tyadam,alanwar"/>
       <Test Name="KStringViewUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" Params="/p:target=user /p:configfile=Table:KStringViewTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KTaskUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" Params="/p:target=user /p:configfile=Table:KTaskTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KThreadUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" Params="/p:target=user /p:configfile=Table:KThreadTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KUriUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" Params="/p:target=user /p:configfile=Table:KUriTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
      <Test Name="KVariantUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" Params="/p:target=user /p:configfile=Table:KVariantTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KVolumeNamespaceUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" Params="/p:target=user /p:configfile=Table:KVolumeNamespaceTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KWeakRefUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" Params="/p:target=user /p:configfile=Table:KWeakRefTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KWStringUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" Params="/p:target=user /p:configfile=Table:KWStringTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="ProcessAffinityUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" Params="/p:target=user /p:configfile=Table:ProcessAffinityTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <!--Test Name="KPriorityQueueUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" Params="/p:target=user /p:configfile=Table:KPriorityQueueTestInput.xml#Test" Tags="Admin" Owners="mcoskun"/-->

       <!-- long running Tests -->
       <Test Name="KAsyncContextUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" IsFunctional="true" Params="/p:target=user /p:configfile=Table:KAsyncContextTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KAsyncQueueUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" IsFunctional="true" RunPolicy="Sequential" Params="/p:target=user /p:configfile=Table:KAsyncQueueTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KHttpUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" IsFunctional="true" Params="/p:target=user /p:configfile=Table:KHttpTestInput.xml#Test" Tags="Admin" Owners="alanwar,kavyako,bharatn,tyadam"/>
       <Test Name="KMemChannelUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" IsFunctional="true" Params="/p:target=user /p:configfile=Table:KMemChannelTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <!--<Test Name="KNetChannelUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" IsFunctional="true" Params="/p:target=user /p:configfile=Table:KNetChannelTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>-->
       <!--<Test Name="KNetworkUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" Params="/p:target=user /p:configfile=Table:KNetworkTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>-->
       <Test Name="KPerfCounterUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" IsFunctional="true" Params="/p:target=user /p:configfile=Table:KPerfCounterTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <!--<Test Name="KSocketUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" Params="/p:target=user /p:configfile=Table:KSocketTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>-->
       <Test Name="KThreadPoolUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" IsFunctional="true" Params="/p:target=user /p:configfile=Table:KThreadPoolTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KTLCommonUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" IsFunctional="true" Timeout="0.02:00:00" Params="/p:target=user /p:configfile=Table:KTLCommonTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="RvdLoggerUser.dll" Group="KTL" Type="TAEF" RunPolicy="Sequential" IsTestLoader="true" IsFunctional="true" Timeout="0.05:00:00" Params="/p:target=user /p:configfile=Table:RvdLoggerTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <!--<Test Name="XmlUser.dll" Group="KTL" Type="TAEF" IsTestLoader="true" IsFunctional="true" Params="/p:target=user /p:configfile=Table:XmlTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>-->

       <!-- kernel driver tests -->
       <Test Name="KAllocationBitmapKernel.sys" Group="KTL" Type="TAEF" IsTestLoader="true" IsFunctional="true" Params="/p:target=kernel /p:driver=KAllocationBitmapKernel /p:configfile=Table:KAllocationBitmapTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KBitmapKernel.sys" Group="KTL" Type="TAEF" IsTestLoader="true" IsFunctional="true" Params="/p:target=kernel /p:driver=KBitmapKernel /p:configfile=Table:KBitmapTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KBlockFileKernel.sys" Group="KTL" Type="TAEF" RunPolicy="Sequential" IsTestLoader="true" IsFunctional="true" Timeout="0.00:40:00" Params="/p:target=kernel /p:driver=KBlockFileKernel /p:configfile=Table:KBlockFileTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KBufferKernel.sys" Group="KTL" Type="TAEF" IsTestLoader="true"  IsFunctional="true" Params="/p:target=kernel /p:driver=KBufferKernel /p:configfile=Table:KBufferTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KCheckSumKernel.sys" Group="KTL" Type="TAEF" IsTestLoader="true"  IsFunctional="true" Params="/p:target=kernel /p:driver=KCheckSumKernel /p:configfile=Table:KCheckSumTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
      <Test Name="KDelegateKernel.sys" Group="KTL" Type="TAEF" IsTestLoader="true"  IsFunctional="true" Params="/p:target=kernel /p:driver=KDelegateKernel /p:configfile=Table:KDelegateTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KHashTableKernel.sys" Group="KTL" Type="TAEF" IsTestLoader="true"  IsFunctional="true" Params="/p:target=kernel /p:driver=KHashTableKernel /p:configfile=Table:KHashTableTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KInvariantKernel.sys" Group="KTL" Type="TAEF" IsTestLoader="true"  IsFunctional="true" Params="/p:target=kernel /p:driver=KInvariantKernel /p:configfile=Table:KInvariantTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KIOBufferKernel.sys" Group="KTL" Type="TAEF" IsTestLoader="true"  IsFunctional="true" Params="/p:target=kernel /p:driver=KIOBufferKernel /p:configfile=Table:KIOBufferTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KNetFaultInjectorKernel.sys" Group="KTL" Type="TAEF" IsTestLoader="true"  IsFunctional="true" Params="/p:target=kernel /p:driver=KNetFaultInjectorKernel /p:configfile=Table:KNetFaultInjectorTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KNetworkEndpointKernel.sys" Group="KTL" Type="TAEF" IsTestLoader="true"  IsFunctional="true" Params="/p:target=kernel /p:driver=KNetworkEndpointKernel /p:configfile=Table:KNetworkEndpointTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KNodeTableKernel.sys" Group="KTL" Type="TAEF" IsTestLoader="true"  IsFunctional="true" Params="/p:target=kernel /p:driver=KNodeTableKernel /p:configfile=Table:KNodeTableTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KRegistryKernel.sys" Group="KTL" Type="TAEF" IsTestLoader="true"  IsFunctional="true" Params="/p:target=kernel /p:driver=KRegistryKernel /p:configfile=Table:KRegistryTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KRTTKernel.sys" Group="KTL" Type="TAEF" IsTestLoader="true"  IsFunctional="true" Params="/p:target=kernel /p:driver=KRTTKernel /p:configfile=Table:KRTTTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KSerialKernel.sys" Group="KTL" Type="TAEF" IsTestLoader="true"  IsFunctional="true" Params="/p:target=kernel /p:driver=KSerialKernel /p:configfile=Table:KSerialTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KStringViewKernel.sys" Group="KTL" Type="TAEF" IsTestLoader="true"  IsFunctional="true" Params="/p:target=kernel /p:driver=KStringViewKernel /p:configfile=Table:KStringViewTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KTaskKernel.sys" Group="KTL" Type="TAEF" IsTestLoader="true"  IsFunctional="true" Params="/p:target=kernel /p:driver=KTaskKernel /p:configfile=Table:KTaskTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>

      <Test Name="KThreadKernel.sys" Group="KTL" Type="TAEF" IsTestLoader="true"  IsFunctional="true" Params="/p:target=kernel /p:driver=KThreadKernel /p:configfile=Table:KThreadTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KUriKernel.sys" Group="KTL" Type="TAEF" IsTestLoader="true"  IsFunctional="true" Params="/p:target=kernel /p:driver=KUriKernel /p:configfile=Table:KUriTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KVariantKernel.sys" Group="KTL" Type="TAEF" IsTestLoader="true"  IsFunctional="true" Params="/p:target=kernel /p:driver=KVariantKernel /p:configfile=Table:KVariantTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KVolumeNamespaceKernel.sys" Group="KTL" Type="TAEF" IsTestLoader="true"  IsFunctional="true" Params="/p:target=kernel /p:driver=KVolumeNamespaceKernel /p:configfile=Table:KVolumeNamespaceTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KWeakRefKernel.sys" Group="KTL" Type="TAEF" IsTestLoader="true"  IsFunctional="true" Params="/p:target=kernel /p:driver=KWeakRefKernel /p:configfile=Table:KWeakRefTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KWStringKernel.sys" Group="KTL" Type="TAEF" IsTestLoader="true"  IsFunctional="true" Params="/p:target=kernel /p:driver=KWStringKernel /p:configfile=Table:KWStringTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <!--Test Name="KPriorityQueueKernel.sys" Group="KTL" Type="TAEF" IsTestLoader="true"  IsFunctional="true" Params="/p:target=kernel /p:driver=KPriorityQueueKernel /p:configfile=Table:KPriorityQueueTestInput.xml#Test" Tags="Admin" Owners="mcoskun"/-->

      
       <!-- long running kernel driver tests -->
       <Test Name="KAsyncContextKernel.sys" Group="KTL" Type="TAEF" IsTestLoader="true"  IsFunctional="true" Params="/p:target=kernel /p:driver=KAsyncContextKernel /p:configfile=Table:KAsyncContextTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KAsyncQueueKernel.sys" Group="KTL" Type="TAEF" IsTestLoader="true"  IsFunctional="true" RunPolicy="Sequential" Params="/p:target=kernel /p:driver=KAsyncQueueKernel /p:configfile=Table:KAsyncQueueTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KMemChannelKernel.sys" Group="KTL" Type="TAEF" IsTestLoader="true"  IsFunctional="true" Params="/p:target=kernel /p:driver=KMemChannelKernel /p:configfile=Table:KMemChannelTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KPerfCounterKernel.sys" Group="KTL" Type="TAEF" IsTestLoader="true"  IsFunctional="true" Params="/p:target=kernel /p:driver=KPerfCounterKernel /p:configfile=Table:KPerfCounterTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KThreadPoolKernel.sys" Group="KTL" Type="TAEF" IsTestLoader="true"  IsFunctional="true" Params="/p:target=kernel /p:driver=KThreadPoolKernel /p:configfile=Table:KThreadPoolTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="KTLCommonKernel.sys" Group="KTL" Type="TAEF" IsTestLoader="true"  IsFunctional="true" Timeout="0.02:00:00" Params="/p:target=kernel /p:driver=KTLCommonKernel /p:configfile=Table:KTLCommonTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>
       <Test Name="RvdLoggerKernel.sys" Group="KTL" Type="TAEF" RunPolicy="Sequential" IsTestLoader="true"  IsFunctional="true" Timeout="0.05:00:00" Params="/p:target=kernel /p:driver=RvdLoggerKernel /p:configfile=Table:RvdLoggerTestInput.xml#Test" Tags="Admin" Owners="alanwar,richhas,tyadam"/>

    </Tests>
  </TestsSection>
  <appSettings>
    <!-- PAAS (secure cluster with router enabled) -->

    <!-- Specify this so that TAEF 4.0 is used -->
    <add key="IsExplicitTaefPathNeeded" value="false"/>

    <add key="FabricRestClient.PAAS.HttpGatewayAddress" value="https://winfabrictestinfra.cloudapp.net:9001/"/>
    <add key="FabricRestClient.PAAS.RouterUri" value="net.tcp://winfabrictestinfra.cloudapp.net:11233/Router/Route"/>
    <add key="FabricRestClient.PAAS.ClientCertThumbprint" value="27B3DFCE8054446DDE1E238591933EB4FE7B0C8C"/>
    <add key="FabricRestClient.PAAS.ServerCertThumbprint" value="4D884A518713725E4AB7DED5B4754191F1646F52"/>
    <add key="ServiceClient.PAAS.CertThumbprint" value="27B3DFCE8054446DDE1E238591933EB4FE7B0C8C"/>
    <add key="ServiceClient.PAAS.CertStoreLocation" value="CurrentUser"/>
    <!--
      This is the last DNS name of the SAN cert used by our PAAS test env, since it doesn't match the endpoint name
      it needs to be explicitly specified here for WCF to authorize the request.
    -->
    <add key="ServiceClient.PAAS.ServerCertDnsName" value="winfabrictestinfra-perf.cloudapp.net"/>
    <add key="ServiceClient.PAAS.ServerCertThumbprintList" value="4D884A518713725E4AB7DED5B4754191F1646F52"/>

    <!-- IAAS (no certificate needed and no router) -->
    <add key="FabricRestClient.IAAS.HttpGatewayAddress" value="http://aziaas35:19007/"/>
    <add key="TestKeyVaultUri" value="https://TestInfraKeyVault.vault.azure.net"/>
    <add key="TestKeyVaultClientId" value ="33e3af95-cf38-49be-9db9-909bb5b3cb2e"/>
    <add key="TestKeyVaultAppCertThumbprint" value ="6108D2170756888910B43787F0FE8C6DD9162FE7"/>
    <add key="TestInfraDbConnectionStringKeyVaultName" value ="TestInfraDbConnectionString"/>
    <add key="LogsLocationConnectionStringKeyVaultName" value ="LogsLocationConnectionString"/>
    <add key="BuildLocationConnectionStringKeyVaultName" value ="BuildLocationConnectionString"/>
    <add key="SchedulingServiceUri" value="fabric:/winfabtestinfra/WcfScheduler"/>
    <!-- Comma separated list of folders to be uploaded to container for cloud run -->
    <add key="IncludeFolderNames" value="ktltest"/>
    <add key="ExcludeFilePatterns" value=".*\.trace$,
                                          .*\.etl$,
                                          .*\.pdb$,
                                          .*\.swp$" />

    <add key="MsiInstalled" value="True"/>
    <!-- Used to determine if a group setup install task to install msi should be generated.
         This value should be true for WindowsFabric and SF-SDK repo and is false for winfab-ktl repo.-->
    <add key="GenerateGroupSetUpTaskForInstall" value="false"/>
  </appSettings>
</configuration>
