//------------------------------------------------------------
// Copyright (c) Microsoft Corporation.  All rights reserved.
//------------------------------------------------------------

//
// File: resource.rc
//
// Resource file for HttpGateway. This resource file defines 
// binary level information.
//

#include "fabricverp.h"

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows Fabric Usermode Logical Log COM interop"
#define VER_INTERNALNAME_STR        "KPhysicalLogDll.dll"
#define VER_ORIGINALFILENAME_STR    "KPhysicalLogDll.dll"

#include "common.ver"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
