#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_APP
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Dump Core logger container"
#define VER_INTERNALNAME_STR        "DumpContainer\0"
#define VER_ORIGINALFILENAME_STR    "DumpContainer.EXE"

#include "common.ver"
