#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_APP
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Test ATL and STL in same code"
#define VER_INTERNALNAME_STR        "atltest\0"
#define VER_ORIGINALFILENAME_STR    "atltest.EXE"

#include "common.ver"
