<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="1000" />
    </connectionManagement>
  </system.net>
  <appSettings>
    <add key="SchedulingServiceUri" value="fabric:/winfabtestinfra/WcfScheduler" />
	<add key="DefaultTestEnv" value="IaaS" />
    <add key="Domain" value="Redmond" />
    <add key="DoNotTriggerRunOnOldBuild" value="false" />
    <add key="DoNotTriggerRuns" value="false" />
    <add key="CitInstallMsi" value="true" />
    <add key="TestKeyVaultUri" value="https://TestInfraKeyVault.vault.azure.net"/>
    <add key="TestKeyVaultClientId" value ="33e3af95-cf38-49be-9db9-909bb5b3cb2e"/>
    <add key="TestKeyVaultAppCertThumbprint" value ="6108D2170756888910B43787F0FE8C6DD9162FE7"/>
    <add key="BuildBlobConnectionStringKeyVaultName" value ="RunTriggererBuildBlobConnectionString"/>
    <add key="SfLrcBlobConnectionStringKeyVaultName" value ="RunTriggererSfLrcBlobConnectionString"/>
    <add key="UserNameKeyVaultName" value ="RunTriggererUserName"/>
    <add key="UserPasswordKeyVaultName" value ="RunTriggererUserPassword"/>
    <add key="EmailUserNameKeyVaultName" value ="RunTriggererEmailUserName"/>
    <add key="EmailPasswordKeyVaultName" value ="RunTriggererEmailPassword"/>
	
	 <!-- PAAS (secure cluster with router enabled) -->
    <add key="FabricRestClient.PAAS.HttpGatewayAddress" value="https://winfabrictestinfra.cloudapp.net:9001/"/>
    <add key="FabricRestClient.PAAS.RouterUri" value="net.tcp://winfabrictestinfra.cloudapp.net:11233/Router/Route"/>
    <add key="FabricRestClient.PAAS.ClientCertThumbprint" value="27B3DFCE8054446DDE1E238591933EB4FE7B0C8C"/>
    <add key="FabricRestClient.PAAS.ServerCertThumbprint" value="4D884A518713725E4AB7DED5B4754191F1646F52"/>
    <add key="ServiceClient.PAAS.CertThumbprint" value="27B3DFCE8054446DDE1E238591933EB4FE7B0C8C"/>
    <add key="ServiceClient.PAAS.CertStoreLocation" value="CurrentUser"/>
    <!--
      This is the last DNS name of the SAN cert used by our PAAS test env, since it doesn't match the endpoint name
      it needs to be explicitly specified here for WCF to authorize the request.
    -->
    <add key="ServiceClient.PAAS.ServerCertDnsName" value="winfabrictestinfra-perf.cloudapp.net"/>
    <add key="ServiceClient.PAAS.ServerCertThumbprintList" value="4D884A518713725E4AB7DED5B4754191F1646F52"/>

    <!-- IAAS (no certificate needed and no router) -->
    <add key="FabricRestClient.IAAS.HttpGatewayAddress" value="http://aziaas35:19007/"/>

    <!--Files, Folders and Patterns-->
    <add key="SuiteXmlsPath" value="ktltest\RunXmls" />
    <add key="RunTestsConfigPath" value="FabricUnitTests" />

    <add key="IncludeFolderNames" value="KtlTest
                                         " />
    <add key="ExcludeFolderPatterns" value=".*WinFabricTest\\.*Test\.Data.*,
                                            .*WinFabricTest\\.*Test\.STR\.Data.*,
                                            .*WinFabricTest\\.*log.*,
                                            .*FabricUnitTests\\log.*,
                                            .*FabricUnitTests\\.*(?&lt;!Hosting\.)Test\.Data.*" /> <!--regex to exclude all test data except Hosting.Test.Data-->
    <add key="ExcludeFilePatterns" value=".*\.trace$,
                                          .*\.etl$,
                                          .*\.pdb$" />
    <add key="FlattenFolders" value="" />
    <add key="IncludeFiles" value="" />

    <!--Release Package Section-->
    <add key="RelPkgFolders" value="FabricDropRC\plugins.AzureSDK2.4,
                                    FabricDropRC\plugins.AzureSDK2.5,
                                    FabricDropRC\IMOS,
                                    FabricDropRC\WindowsFabricClientPackage,
                                    FabricDropRC\WindowsFabricAIMSRulesSamples,
                                    RepairPolicyEngineApplication" />
    <add key="RelPkgAddServiceFolders" value="FabricDropRC\MonitoringServiceApplication,
                                              FabricDropRC\RepairServiceApplication,
                                              FabricDropRC\MAWithMonitoringServiceApplication" />
    <add key="RelPkgToolsFolders" value="FabricDropRC\AzureValidator.AzureSDK2.4,
                                         FabricDropRC\AzureValidator.AzureSDK2.5,
                                         FabricDropRC\WindowsFabricTools" />
    <add key="RelPkgFiles" value="PublicConfigurations.csv,
                                  WindowsFabricRC*.msi,
                                  WindowsFabricSDK*.msi,
                                  MicrosoftServiceFabric*.msi,
                                  WindowsFabricTestabilityPackage.zip,
                                  *.man" />

  </appSettings>
</configuration>