//------------------------------------------------------------
// Copyright (c) Microsoft Corporation.  All rights reserved.
//------------------------------------------------------------

//
// File: resource.rc
//
// Resource file for FabricGateway. This resource file defines 
// binary level information.
//

#include "fabricverp.h"
#include "resource.h"

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft Azure Service Fabric Gateway"
#define VER_INTERNALNAME_STR        "FabricGateway.exe"
#define VER_ORIGINALFILENAME_STR    "FabricGateway.exe"

#include "common.ver"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
