<?xml version="1.0" encoding="utf-8"?>
<packages>

  <!-- SourceControl -->
  <package id="Corext.SourceControl.Git" version="1.0.0" />

  <!-- CoreXT -->
  <package id="Corext.Rewind" version="1.0.1" />
  <package id="Corext.Legacy.PreEnv" version="1.0.2" />
  <package id="Corext.Extras" version="1.0.3" />
  <package id="Corext.Aliases" version="1.0.5" />
  <package id="Corext.Build" version="1.2.7" />
  <package id="Corext.Tools" version="3.0.1" />
  <package id="Corext.Support" version="1.0.0" />

  <!-- OneBranch Init -->
  <package id="OneBranch.Init" version="1.0.6" allowedVersions="[1,2)" /> <!-- Combination of OneBranch root init.cmd and myenv.cmd -->
  <package id="OneBranch.Argo" version="1.0.3" allowedVersions="[1,2)" /> <!-- Code changes + init.cmd -->

  <!-- OneBranch: Required AutoUpgrade Packages -->
  <package id="LocalSigning" version="2.0.9.3" allowedVersions="[2,3)" autoUpgrade="true" />
  <package id="PRSSign.OneBranch" version="1.0.32" allowedVersions="[1,2)" autoUpgrade="true" />
  <package id="CodeSign.AD" version="2.0.15" allowedVersions="[2,3)" autoUpgrade="true" />
  <package id="OneBranch.GitHooks" version="1.0.24" allowedVersions="[1,2)" autoUpgrade="true" />
  <package id="BuildReq" version="1.0.158.1" allowedVersions="[1,2)" autoUpgrade="true" />

  <!-- OneBranch Environment: BuildTools -->
  <package id="Corext.Build.OneBranch" version="1.0.0" allowedVersions="[1,2)" />
  <package id="CorextPath1st.OneBranch" version="1.0.2" allowedVersions="[1,2)" />
  <package id="GenerateVersions.OneBranch" version="1.0.3-pre1" /> <!-- Self contained beaver -->
  <package id="CoreTargets.OneBranch" version="1.0.53" allowedVersions="[1,2)" /> <!-- Disable Git commands in CloudBuild -->
  <package id="BuildTypes.GitCorext" version="1.0.0" allowedVersions="[1,2)" />
  <package id="Aliases.Core" version="1.0.5" allowedVersions="[1,2)" />
  <package id="AD.BuildIndexer" version="1.0.425.0" />
  <package id="NuProj" version="1.1.38" />
  <package id="BuildManifest" version="1.0.168" />
  <package id="PublishSymbols.OneBranch" version="1.0.4" allowedVersions="[1,2)" />
  <package id="Powershell.Corext" version="2.0.0" />
  <package id="BCDT.amd64" version="1.0.17.8" />
  <package id="Microsoft.OneBranch.Tasks" version="1.0.316" allowedVersions="[1,2)" />
  <package id="Perl.Corext" version="5.10.0.2" /> <!-- Required for the build shim in Corext.Build, new package exports itself to path -->
  <package id="RazzleBuildTools.Corext" version="2.2.0" /> <!-- This version will add itself to path -->
  <package id="PostBuild.OneBranch" version="1.0.0" allowedVersions="[1,2)" />
  <package id="NuGet.CommandLine" version="3.4.3" /> <!-- Packages should call NuGet from this package -->
  <package id="OneBranch.ServiceTree.Tools" version="1.0.0" allowedVersions="[1,2)" autoUpgrade="true" />

  <!-- OneBranch Environment: DevTools -->
  <!--Custom build shim for telemetry-->
  <package id="BuildShim.ServiceFabric" version="1.4.0" />
  <package id="StyleCop.MSBuild" version="4.7.49.0" />
  <package id="OneBranch.UCRT.x64" version="14.0.23615.2" />
  <package id="VisualStudio.StaticAnalysisTools.Corext" version="14.0.25420" />
  <package id="VsMsBuild.Corext" version="3.1.2" />
  <package id="MsBuild.Corext" version="15.1.26401.1-beta4" />
  <package id="MsBuild.Wrap.Corext" version="1.0.24" />
  <package id="UpdatePackages" version="1.0.35.0" allowedVersions="[1,2)" />

  <!-- OneBranch Environment: SdlTools -->
  <package id="OACR.CoreXT" version="3.7.24106" />
  <package id="OACR.CoreXT.Exclusions" version="3.6.30318.12" />
  <package id="OACR.OnCorext" version="1.0.1" />

  <package id="OACR.Wrap.Corext" version="1.0.2" />
  <package id="ApiScanTool" version="0.0.35" />
  <package id="BinScope" version="0.0.32" />
  <package id="CredScanner" version="0.0.25" />
  <package id="HardcodedStringScanner" version="0.0.16" />
  <package id="PoliCheck" version="5.6.0.8" />

  <!-- OneBranch Environment: LocTools -->
  <package id="LBA.CSIntl" version="1.0.3" />
  <package id="Lsbuild.CSIntl" version="1.0.5" />
  <package id="Lsbuild.Corext" version="6.12.6202.0" />
  <package id="LBA.Corext" version="5.5.1031.1" />
  <package id="Localization" version="2.0.20" />

  <!-- OneBranch Environment: BuildToolsForQ -->
  <package id="CloudBuild.OnCorext" version="3.0.4" /> <!-- New major release does not include build shim, needs Corext.Build -->
  <package id="CloudVaultWaesForQ.OneBranch" version="1.0.14" allowedVersions="[1,2)" />
  <package id="CloudVaultClient" version="2.2.0.17" />
  <package id="AzValidClient" version="1.0.2" />

  <!-- OneBranch Environment: ManagedCode -->
  <package id="DotNetCoreRefAssemblies.Corext" version="4.0.30319" />
  <package id="DotNetFxRefAssemblies.Corext" version="4.0.0" /> <!-- .net 4.0 -->
  <package id="DotNetFxRefAssemblies.Corext" version="4.0.30319" /> <!-- .net 4.5 -->
  <package id="DotNetFxRefAssemblies.Corext" version="4.5.1.1" allMacros="true" />
  <package id="DotNetFxRefAssemblies.Corext" version="4.5.2.1" /> <!-- .net 4.5.2 -->
  <package id="DotNetFxRefAssemblies.Corext" version="4.6.0" allMacros="true" />
  <package id="DotNetFxTools.Corext" version="4.0.0" />
  <package id="DotNetFxTools.Corext" version="4.5.0" />
  <package id="DotNetFxGAC.Corext" version="4.5.4" />

  <!-- MCG Tool for Core CLR Binaries-->
  <package id="Microsoft.DotNet.Interop" version="1.0.0-beta1-71515-04" />

  <!-- CoreCLR Linux -->
  <package id="SF.DotNet-CLI" version="1.0.12" />

  <!-- Dsts support -->
  <package id="DstsAuthentication.master" version="1.0.35.29" />

  <!-- Test Tools Imports -->
  <package id="MsTest.Corext" version="10.0.0" />
  <package id="Taef.Redist" version="10.2.161130002" />
  <package id="WAES" version="1.0.34" />
  <package id="VisualStudio.UnitTest.Corext" version="14.0.0" />
  <!-- Older version of TAEF for KTL -->
  <package id="TAEF.amd64" version="4.0" />

  <!-- Azure -->
  <package id="Azure.Corext" version="3.0.0" />

  <!-- Azure Storage C++ client -->
  <!-- Package will be renamed from "wastorage" to "Microsoft.Azure.Storage.CPP"
        from version 4.0.0 onwards according to NuGet description
  <package id="Microsoft.Azure.Storage.CPP" version="4.0.0" />
  <package id="Microsoft.Azure.Storage.CPP.v120" version="4.0.0" />
  <package id="Microsoft.Azure.Storage.CPP.v140" version="4.0.0" />
  -->
  <package id="wastorage" version="3.2.2" />
  <package id="wastorage.v140" version="3.2.2" />
  <package id="wastorage.v120" version="3.2.2" />
  <package id="cpprestsdk.v140.windesktop.msvcstl.dyn.rt-dyn" as="cpprestsdk.v140.windesktop.msvcstl.dyn.rt_dyn" version="2.9.1" />
  <package id="cpprestsdk.v120.windesktop.msvcstl.dyn.rt-dyn" version="2.9.1" />

  <!-- C++ 19 -->
  <package id="VisualCpp.Corext" version="19.12.25835" pullDependencies="true" />
  <package id="VisualCpp.x64.Corext" version="19.12.25835" pullDependencies="true" />
  <package id="VisualCpp.Tools.x64.Corext" version="19.12.25835" pullDependencies="true" />
  <package id="VisualCppNonRedist.x64.SF.Microsoft" version="19.12.25835" pullDependencies="true" />
  <package id="VisualCppRedist.x64.SF.Microsoft" version="19.12.25835" pullDependencies="true" />

  <!--.NET-->
  <package id="NetFxSdk.Corext" version="4.6.0" pullDependencies="true" />

  <!--Win SDK-->
  <package id="Windows.UCRT" version="10.0.26624" pullDependencies="true" />
  <package id="WindowsSdk.Corext" version="10.0.10586" pullDependencies="true" />
  <package id="WindowsWDK.Corext" version="10.0.10586" pullDependencies="true" />
  <package id="MsBuild.Wdk.Corext" version="10.0.10586.0" />
  <package id="VisualCpp.Tools.x64.ucrt.SF.Microsoft" version="10.0.10240.16384-Custom2" />

  <!-- Wix -->
  <package id="Wix.Corext" version="3.10.3.3007" />
  <package id="Wix.Slim.Corext" version="3.10.3.3007" />

  <!--Win10 Driver Development -->
  <package id="Microsoft.WindowsAzure.DirectDrive.External.Windows.Internal.mincore" version="10.0.14296" />
  <package id="Microsoft.WindowsAzure.DirectDrive.External.Windows.Internal.minwin" version="10.0.14296" />
  <package id="Microsoft.WindowsAzure.DirectDrive.External.Windows.Internal.sdk" version="10.0.14296" />
  <package id="Microsoft.WindowsAzure.DirectDrive.External.Windows.ddk" version="10.0.14296" />
  <package id="Microsoft.WindowsAzure.DirectDrive.External.Windows.sdk" version="10.0.14296" />
  <package id="Microsoft.WindowsAzure.DirectDrive.External.Windows.Shared" version="10.0.14296" />

  <!--Product Customizations below this line-->
  <!--______________________________________-->

    <package id="Microsoft.WindowsAzure.EngSys.Toolset.Razzle.Tools" version="8.1.0" /> <!-- needed for cab extract and manifest generator -->

  <!--Alphabetical only for ease of merging-->

  <package id="Azure.Corext" version="2.6.0" />
  <!--Required for profiler application -->
  <package id="AzureProfiler.API" version="1.0.0.314" />
  <package id="PerfView" version="1.0.0" />

  <!--
  These 2 are required for IS in parallel mode whereas Bond.NET and Bond.Core.NET (listed above)
  are older and are required for IS in serial mode
  -->

  <package id="Bond.Compiler.CSharp" version="6.0.0" />
  <package id="Bond.Core.CSharp" version="6.0.0" />
  <package id="Bond.Core.NET" version="3.0.67" />
  <package id="detours" version="3.3.0" />
  <package id="DocumentFormat.OpenXml" version="2.5" />
  <package id="EntityFramework" version="6.0.0" />
  <package id="Esent.Internal" version="15.0.805.2" />
  <package id="Hyak.Common" version="1.0.2" />

  <!-- Packages required for JAVA support -->
  <package id="Java.Windows.Libs" version="1.0.1" />

  <!-- for building KTL -->
  <package id="XmlDiffPatch" version="1.0.8.28" />
  <!--Required for debugger extension-->
  <package id="WinDbg.Corext" version="6.13.4" />

  <package id="Magellan.Corext" version="5.2.5358" />

  <!--Required for monitoring application -->
  <package id="Microsoft.ServiceFabric" version="5.1.150" />
  <package id="Microsoft.ServiceFabric.Data" version="2.1.150" />
  <package id="Microsoft.ServiceFabric.Services" version="2.1.150" />
  <package id="GenevaMonitoringAgent" version="36.1.6.0" />
  <package id="GenevaMonitoringAgentLibs" version="36.1.6.0" />
  <package id="MdmMetricsExtension" version="2.0.933.0" />
  <package id="HealthExtension" version="2.0.1050.0" />
  <package id="Microsoft.Cloud.InstrumentationFramework" version="3.0.6.30" />
  <package id="Bond.Runtime.CSharp" version="6.0.0" />
  <package id="Bond.CSharp" version="6.0.0" />

  <!--Package containing dSMS client library -->
  <package id="DsmsCredentialsManagement" version="2.9.526.0" />

  <package id="MDS-MA" version="34.1.3.0" />
  <!-- IMPORTANT: Keep MDS-Tools version the same as MDS-DataAccessClient version -->
  <package id="MDS-Tools" version="62.1.0.7" as="MDS_Tools" />
  <!-- IMPORTANT: Keep MDS-DataAccessClient version the same as MDS-Tools version -->
  <package id="MDS-DataAccessClient" version="62.1.0.7" as="MDS_DataAccessClient" />
  <package id="Antlr4.Runtime" version="4.5.3" />
  <package id="Bond.Runtime.CSharp" version="3.0.7" />
  <package id="Microsoft.ApplicationInsights" version="2.2.0" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" />

  <!--Required for ASP .NET app used in container test -->
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" />

  <!--Required for cluster insight application -->
  <package id="Microsoft.ServiceFabric" version="5.3.121" />
  <package id="Microsoft.ServiceFabric.Data" version="2.3.121" />
  <package id="Microsoft.ServiceFabric.Services" version="2.3.121" />

  <!-- AspNetCore binaries needed to build WebListener and Kestrel CommunicationListeners and unit tests. -->
  <package id="Microsoft.AspNetCore.Hosting" version="1.0.0" />
  <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="1.0.0" />
  <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="1.0.0" />
  <package id="Microsoft.AspNetCore.Http.Features" version="1.0.0" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="1.0.0" />
  <package id="Microsoft.Azure.Monitoring.DataPipe.Blob.IO" version="3.3.0" />
  <package id="Microsoft.Azure.Monitoring.DataPipe.Blob.IO.Search" version="3.3.0" />
  <package id="Microsoft.Extensions.DependencyInjection" version="1.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.0" />
  <package id="Microsoft.Extensions.Primitives" version="1.0.0" />
  <package id="System.Text.Encodings.Web" version="4.0.0" />
  <package id="Microsoft.AspNetCore.Server.Kestrel" version="2.0.0" />
  <package id="Microsoft.AspNetCore.Mvc" version="2.0.0" />
  <package id="Microsoft.AspNetCore.Diagnostics" version="2.0.0" />

  <!-- xUnit, Moq, FluentAssertions for Unittests -->
  <package id="xunit" version="2.2.0" />
  <package id="xunit.abstractions" version="2.0.1" />
  <package id="xunit.assert" version="2.2.0" />
  <package id="xunit.core" version="2.2.0" />
  <package id="xunit.extensibility.core" version="2.2.0" />
  <package id="xunit.extensibility.execution" version="2.2.0" />
  <package id="xunit.runner.console" version="2.2.0" />
  <package id="Moq" version="4.7.8" />
  <package id="Castle.Core" version="4.0.0" />
  <package id="FluentAssertions" version="4.19.2" />

  <package id="Microsoft.Azure.Common" version="2.1.0" />
  <package id="Microsoft.Data.Edm" version="5.6.4" />
  <package id="Microsoft.Data.OData" version="5.6.4" />
  <package id="Microsoft.Data.Services.Client" version="5.6.4" />

  <!-- required for v2 test code -->
  <package id="Microsoft.ETCM.SQLIS" version="2.0.4000.44" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.19.208020213" />

  <!-- required for v2 test code -->
  <package id="Microsoft.Infrastructure.ETCM.Wfrun" version="1.0.0" />
  <package id="Microsoft.Owin" version="3.0.1" />
  <package id="Microsoft.Owin.FileSystems" version="3.0.1" />
  <package id="Microsoft.Owin.StaticFiles" version="3.0.1" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" />
  <package id="Microsoft.ServiceFabric.Upgrade.Test.Internal" version="6.0.0.29" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.23" />
  <package id="Microsoft.WindowsAzure.EngSys.External.Windows.sdk" version="8.1.0" />
  <package id="Microsoft.WindowsAzure.EngSys.External.Windows.Internal.strongnamekeys" version="8.1.0" />
  <package id="Microsoft.WindowsAzure.sdk" version="13.4.12.1658" />
  <package id="Microsoft.WindowsAzure.Management.Compute" version="9.1.0" />
  <package id="Microsoft.Net.Http" version="2.2.22" />

  <!-- required for RP cluster CEC compliance -->
  <package id="Microsoft.WindowsAzure.Security.AzureSecurityPack" version="4.0.3.18" />
  <package id="Newtonsoft.Json" version="6.0.8" />
  <package id="YamlDotNet.Signed" version="4.1.0" />
  <package id="ServiceFabric.Explorer" version="2018.5.1001" />

  <!-- required for unit testing -->
  <package id="NUnit" version="2.6.4" />

  <!-- Required for custom serializer testing -->
  <package id="protobuf-net" version="2.2.1" as="protobuf_net"/>

  <!-- For test services -->
  <package id="Owin" version="1.0" />
  <!-- Required for Self Diagnostics -->
  <package id="Rx-Core" version="2.2.4" />
  <package id="Rx-Interfaces" version="2.2.4" />
  <package id="Rx-Linq" version="2.2.4" />
  <package id="Rx-PlatformServices" version="2.2.4" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.2.206221351" />
  <package id="System.Management.Automation" version="6.1.7601.17515" />
  <package id="System.Spatial" version="5.6.4.62175" />
  <package id="TraceWpp.Corext" version="6.0.5740" />
  <package id="Tx.Core" version="1.0.50621" />
  <package id="Tx.Windows" version="1.0.50621" />
  <package id="Tx.Windows.TypeGeneration" version="1.0.50621" />

    <!-- Required for full functionality of EventSource, there are some functionality missing with System.Diagnostics.EventSource of .net 4.5
  so we're using nuget package Microsoft.Diagnostics.Tracing.EventSource package for now -->
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.26" />
  <package id="Microsoft.Diagnostics.Tracing.EventRegister" version="1.1.28" />
  <!-- Required for ACL in coreclr -->
  <package id="System.IO.FileSystem.AccessControl" version="4.4.0" />

  <!-- Used for testing Event Source classes -->
  <package id="Microsoft.Diagnostics.Tracing.TraceEvent" version="1.0.41" />

  <!-- For test services -->
  <package id="Unity" version="3.0.1304.1" />
  <package id="Unity.WebAPI" version="5.1" />
  <package id="WindowsAzure.Storage" version="5.0.2" />
  <package id="WindowsAzure.Storage" version="7.2.1" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" />

  <!-- These are manually created packages from checked in binaries that existed in Source Depot's external folders -->
  <package id="WinFab.Azure.Libs" version="5.0.6.0" />
  <package id="WinFab.Boost.Test" version="1.61.0.2" />
  <package id="WinFab.Cfx.Assert" version="1.0.2587.4" />
  <package id="WinFab.Fiji" version="3.1.0.0" />
  <package id="WinFab.Internal.MR.SDK" version="132.763.2.21" />

  <!-- Internal package for parallel/ZeroSDK MR channel contract -->
  <package id="PolicyAgent.BondContract.Release" version="132.865.54" />

  <!-- Manually published packages for linux porting-->
  <package id="WinFab.Linux.Libs" version="1.7.6" />
  <package id="WinFab.Misc" version="3.1.0.1" />
  <package id="WinFab.SignedDrivers" version="5.4.0.1" />

  <!-- Used for test signing the driver -->
  <package id="ServiceFabric.DriverCertificate" version="0.1" />

  <!-- Used for testing DCA functionality -->
  <package id="WinFab.Test.DcaTestArtifacts" version="1.0.0.4" />

  <!-- For WinFab.Test.KeyVaultCmdUtility -->
  <package id="WinFab.Test.KeyVaultCmdUtility.retail" version="3.3.92.9495" />
  <!-- For WinFab.Test.KeyVaultWrapper -->

  <!-- For WinFab.Test.KeyVaultWrapper.NetStandard -->
  <package id="WinFab.Test.KeyVaultWrapper.retail" version="3.3.92.9495" />
  <package id="WinFab.Test.KeyVaultWrapper.NetStandard" version="1.0.3" />

  <!-- For WinFab test tools e.g. RunTests -->
  <package id="WinFab.Test.Tools.retail" version="3.3.92.9495" />
  <package id="WinFab.RunTests.retail" version="3.3.92.9495" />

  <package id="Microsoft.ServiceFabric.RP.CSMTemplate.retail" version="1.3.0" />

  <!-- For Quark Integration Tests -->
  <package id="WinFab.Test.Quark.retail" version="3.3.7.9627" />
  <package id="xunit" version="1.9.2" />

  <package id="Sysinternals" version="2016.9.13" />

  <!-- tools used by devlopers -->
  <package id="GitPack" version="1.2.0.0" />
  <package id="LINQPad" version="4.51.3" />

  <!-- for building ui -->
  <package id="UI.for.Wpf.45.Xaml" version="2016.3.1024" />

  <!-- for YCSB Benchmarking Tool -->
  <package id="YcsbThreeTierPlusMeasurement" version="1.0.3" />

  <!-- APSDK library for Autopilot integration -->
  <package id="Microsoft.Search.Autopilot" version="4.106" />
  <package id="ServiceFabric.APSecretStore" version="1.10.5134758.5257447" />
  <package id="SSH.NET" version="2016.0.0" />
  <package id="WinFab.Kxm.Linux" version="1.0.0.0" />

  <!-- for BinSkim Tool -->
  <package id="Microsoft.CodeAnalysis.BinSkim" version="1.4.4" />

  <!-- For DotNet Core SDK and Runtime compatibility check CIT -->
  <package id="Mono.Reflection" version="1.1.1" />

  <!-- Seabreeze sdk  -->
  <package id="SF.ClientLib.SeaBreeze" version="1.0.0-internal59" />
  <package id="ServiceFabric.Swagger.Tools" version="1.0.31" />

  <!-- for new Reliable State Manager that uses Native Stack -->
  <package id="Microsoft.ServiceFabric.Data.Extensions" version="1.4.4" />

  <!-- Service Fabric Actors, Services and AspnetCore integration -->
  <package id="SF.ActorsServices.Internal" version="3.3.6" />
  <package id="SF.AspNetCore.Internal" version="3.3.1" />
  
  <!-- for ASP.Net simple programming model which uses new Reliable State Manager over Native Stack -->
  <package id="Microsoft.ServiceFabric.ReliableCollection.AspNet" version="1.0.10-beta" />

  <!-- Remove this once support for other package.config files is working. -->
  <package id="Microsoft.ServiceFabric.Boost.Internal" version="1.0.1-beta" />
</packages>
