<?xml version="1.0" encoding="utf-8"?>
<!-- 
  The configuration file for the entry point manager (System.Fabric.FabricHostEntryPointManager 
  See the FWP design doc for the various settings in this file 
 -->

<configuration>

  <configSections>
    <sectionGroup name="system.fabric" type="System.Fabric.Hosting.Configuration.SystemDistributedSectionGroup, System.Fabric" >
      <section name="entryPointManager" type="System.Fabric.Hosting.Configuration.EntryPointManagerConfigurationSection, System.Fabric" />
    </sectionGroup>
  </configSections>
  <system.fabric>

    <entryPointManager
      threadPoolThreadCount="16"
      appDomainManagerType ="System.Fabric.Hosting.FabricHostEntryPoint"
      appDomainManagerAssembly="System.Fabric">
    </entryPointManager>
  </system.fabric>
</configuration>
